@model Template.Mvc4.Models.Purchase

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    @Html.LabelFor(model => model.Title)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Title)
    @Html.ValidationMessageFor(model => model.Title)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.ModifyDate)
</div>
<div class="editor-field">
    @Html.DisplayFor(model => model.ModifyDate) &nbsp
    @Html.ValidationMessageFor(model => model.ModifyDate)
</div><br />

<div class="editor-label">
    @Html.LabelFor(model => model.Price)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Price)
    @Html.ValidationMessageFor(model => model.Price)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.UnitName)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.UnitName)
    @Html.ValidationMessageFor(model => model.UnitName)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.UnitQuantity)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.UnitQuantity)
    @Html.ValidationMessageFor(model => model.UnitQuantity)
</div>

<div class="editor-label">
    Product
</div>
<div class="editor-field">
    @Html.DropDownListFor(model => model.ProductId, ((IEnumerable<Template.Mvc4.Models.Product>)ViewBag.PossibleProducts).Select(option => new SelectListItem {
        Text = (option == null ? "None" : option.Title), 
        Value = option.Id.ToString(),
        Selected = (Model != null) && (option.Id == Model.ProductId)
    }), "Choose...")
    @Html.ValidationMessageFor(model => model.ProductId)
</div>
<div class="editor-label">
    Store
</div>
<div class="editor-field">
    @Html.DropDownListFor(model => model.StoreId, ((IEnumerable<Template.Mvc4.Models.Store>)ViewBag.PossibleStores).Select(option => new SelectListItem {
        Text = (option == null ? "None" : option.Title), 
        Value = option.Id.ToString(),
        Selected = (Model != null) && (option.Id == Model.StoreId)
    }), "Choose...")
    @Html.ValidationMessageFor(model => model.StoreId)
</div>
