@model Template.Mvc4.Models.Purchase

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Purchase</legend>

    <div class="display-label">Title</div>
    <div class="display-field">@Model.Title</div>

    <div class="display-label">ModifyDate</div>
    <div class="display-field">@String.Format("{0:g}", Model.ModifyDate)</div>

    <div class="display-label">Product</div>
    <div class="display-field">@(Model.Product == null ? "None" : Model.Product.Title)</div>

    <div class="display-label">Store</div>
    <div class="display-field">@(Model.Store == null ? "None" : Model.Store.Title)</div>

    <div class="display-label">Price</div>
    <div class="display-field">@String.Format("{0:F}", Model.Price)</div>

    <div class="display-label">UnitName</div>
    <div class="display-field">@Model.UnitName</div>

    <div class="display-label">UnitQuantity</div>
    <div class="display-field">@String.Format("{0:F}", Model.UnitQuantity)</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


