@model IEnumerable<Template.Mvc4.Models.Purchase>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Title
        </th>
        <th>
            ModifyDate
        </th>
        <th>
            Product
        </th>
        <th>
            Store
        </th>
        <th>
            Price
        </th>
        <th>
            UnitName
        </th>
        <th>
            UnitQuantity
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
        <td>
			@item.Title
        </td>
        <td>
			@String.Format("{0:g}", item.ModifyDate)
        </td>
        <td>
			@(item.Product == null ? "None" : item.Product.Title)
        </td>
        <td>
			@(item.Store == null ? "None" : item.Store.Title)
        </td>
        <td>
			@String.Format("{0:F}", item.Price)
        </td>
        <td>
			@item.UnitName
        </td>
        <td>
			@String.Format("{0:F}", item.UnitQuantity)
        </td>
    </tr>
}

</table>


