@model IEnumerable<Template.Mvc4.Models.Store>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Title
        </th>
        <th>
            ModifyDate
        </th>
        <th>
            Products
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
        <td>
			@item.Title
        </td>
        <td>
			@String.Format("{0:g}", item.ModifyDate)
        </td>
        <td>
			@(item.Products == null ? "None" : item.Products.Count.ToString())
        </td>
    </tr>
}

</table>


