@model Template.Mvc4.Models.Product
@{
  ViewBag.Title = "Details";
}
<h2>
  Details</h2>
<fieldset>
  <legend>Product</legend>
  <div class="clearfix">
    @Html.LabelFor(model => model.Title)
    <div class="input">
      @Html.DisplayFor(model => model.Title)
    </div>
  </div>
  <div class="clearfix">
    @Html.LabelFor(model => model.Category)
    <div class="input">
     @(Model.Category == null ? "None" : Model.Category.Title)
    </div>
  </div>

<br />

<br />
  <div class="display-label">
    Stores</div>
  <div class="display-field">@(Model.Stores == null ? "None" : Model.Stores.Count.ToString())</div>
  <div class="display-label">
    Purchases</div>
  <div class="display-field">@(Model.Purchases == null ? "None" : Model.Purchases.Count.ToString())</div>
</fieldset>
<p>
  @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
  @Html.ActionLink("Delete", "Delete", new { id = Model.Id }) |
  @Html.ActionLink("Back to List", "Index")
</p>
