@model IEnumerable<Template.Mvc4.Models.Product>
@{
  ViewBag.Title = "Products";
}
<div class="subtitle-bar">
  <h2>
    Products</h2>
  @Html.ActionLink("Create New product", "Create", null, new { Class = "btn primary" })
</div>
<table>
  <tr>
    <th>
      Title
    </th>
    <th>
      Image
    </th>
    <th>
      Category
    </th>
    <th>
      Stores
    </th>
    <th>
      Purchases
    </th>
  </tr>
  @foreach (var item in Model)
  {
    <tr>
      <td>
        @Html.ActionLink(item.Title, "Details", new { id = item.Id })
      </td>
      <td>
        <img src="flickr://@item.Title" width="40px" height="40px" alt="@item.Title"/>
      </td>
      <td>
        @(item.Category == null ? "None" : item.Category.Title)
      </td>
      <td>
        @(item.Stores == null ? "None" : item.Stores.Count.ToString())
      </td>
      <td>
        @(item.Purchases == null ? "None" : item.Purchases.Count.ToString())
      </td>
    </tr>
  }
</table>
