<div class="content-wrapper">
  <div class="float-left">
    <p class="site-title">@Html.ActionLink("your logo here.", "Index", "Home")</p>
  </div>
  <div class="float-right">
    <section id="login">
      @Html.Partial("_LogOnPartial")
    </section>
    <nav>
      <ul id="menu">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Contacts", "Knockout", "Contacts")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
      </ul>
    </nav>
  </div>
</div>
