<!DOCTYPE html>
<html lang="en">
<head>
  <title>@ViewBag.Title - My ASP.NET MVC Application</title>
  @Html.Partial("_Head")
</head>
<body>
  <header>
    @Html.Partial("_Header")
  </header>
  <div class="container" id="body">
    @RenderSection("featured", false)
    <div class="content">
      @RenderBody()
    </div>
  </div>
  <footer>
    @Html.Partial("_Footer")
  </footer>
  @Html.Partial("_DevTabs")
  <div id="script-wrapper">
    @Html.Partial("_Scripts")
    @RenderSection("pageScripts", false)
  </div>
</body>
</html>
