<!DOCTYPE html>
<html lang="en">
<head>
  @Html.Partial("_Head")
</head>
<body>
  <header>
    @Html.Partial("_Header")
  </header>
  <div id="body">
    @RenderSection("featured", false)
    <section class="content-wrapper main-content clear-fix">
      @RenderBody()
    </section>
  </div>
  <footer>
    @Html.Partial("_Footer")
  </footer>
  @Html.Partial("_LessEditor")
  <div id="script-wrapper">
    @Html.Partial("_Scripts")
    @RenderSection("pageScripts", false)
  </div>
</body>
</html>
