<div class="topbar" data-scrollspy="scrollspy">
  <div class="topbar-inner">
    <div class="container">
      @Html.ActionLink("your logo here.", "Index", "Home", null, new { Class = "brand" })
      <ul class="nav">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Styles", "TwitterBootstrap", "Home")</li>
        <li>@Html.ActionLink("Contacts", "Knockout", "Contacts")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
        <li>@Html.ActionLink("Purchases", "Index", "Purchases")</li>
        <li>@Html.ActionLink("Products", "Index", "Products")</li>
        <li>@Html.ActionLink("Stores", "Index", "Stores")</li>
        <li>@Html.ActionLink("Categories", "Index", "Categories")</li>
      </ul>
    </div>
  </div>
</div>
