@model IEnumerable<Template.Mvc4.Models.Task>
@{
  var leftIndent = (ViewBag.Level * 15) + 10;
  var leftMargin = leftIndent + "px";
  var leftMarginSubTask = leftIndent + 15 + "px";
}
@foreach (var item in Model)
{
  <tr>
    <td style="padding-left: @leftMargin ;">
      @item.Title
    </td>
    <td>
      @(item.TimeEntries == null ? "None" : item.TimeEntries.Count.ToString())
    </td>
    <td>
      @(item.SubTasks == null ? "None" : item.SubTasks.Count.ToString())
    </td>
    <td>
      @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
      @Html.ActionLink("Details", "Details", new { id = item.Id }) |
      @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    </td>
    <td>
      @String.Format("{0:g}", item.ModifyDate)
    </td>
    <td>
      @item.Id
    </td>
    <td>
      @item.ParentId
    </td>
  </tr>
  if (item.SubTasks.Count() > 0)
  { 
    ViewBag.Level = ViewBag.Level + 1;
    @Html.Partial("_Tasks", item.SubTasks.ToList())
  } 
  <tr>
    <td colspan="7" style="padding-left: @leftMarginSubTask ;">
      <p>
        @Html.ActionLink("Create SubTask", "CreateChild/" + item.Id)
      </p>
    </td>
  </tr>
}