@model Template.Mvc4.Models.PurchaseTest
@* This partial view defines form fields that will appear when creating and editing entities *@
<div class="editor-label">
  @Html.LabelFor(model => model.Title)
</div>
<div class="editor-field">
  <input class="text-box single-line" id="Title" name="Title" type="text" value="@Model.Title" data-autocomplete=" @Url.Action("AutoCompleteTitle", "PurchaseTests")">
  @Html.ValidationMessageFor(model => model.Title)
</div>
<div class="editor-label">
  @Html.LabelFor(model => model.Store)
</div>
<div class="editor-field">
  <input class="text-box single-line" id="Store" name="Store" type="text" value="@Model.Store" data-autocomplete=" @Url.Action("AutoCompleteStore", "PurchaseTests")">
  @Html.ValidationMessageFor(model => model.Store)
</div>
<div class="editor-label">
  @Html.LabelFor(model => model.Price)
</div>
<div class="editor-field">
  @Html.EditorFor(model => model.Price)
  @Html.ValidationMessageFor(model => model.Price)
</div>
<div class="editor-label">
  @Html.LabelFor(model => model.UnitName)
</div>
<div class="editor-field">
  @Html.EditorFor(model => model.UnitName)
  @Html.ValidationMessageFor(model => model.UnitName)
</div>
<div class="editor-label">
  @Html.LabelFor(model => model.UnitQuantity)
</div>
<div class="editor-field">
  @Html.EditorFor(model => model.UnitQuantity)
  @Html.ValidationMessageFor(model => model.UnitQuantity)
</div>
<div class="editor-label">
  @Html.LabelFor(model => model.ModifyDate)
</div>
<div class="editor-field">
  @Html.TextBoxFor(model => model.ModifyDate, new {@readonly="readonly"})
  @Html.ValidationMessageFor(model => model.ModifyDate)
</div>

<script type="text/javascript">

  $(document).ready(function () {
    $('#Store').each(function () {
      $(this).autocomplete({ source: $(this).attr('data-autocomplete') });
    });

    $('#Title').each(function () {
      $(this).autocomplete({ source: $(this).attr('data-autocomplete') });
    });
  })

</script>
